[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = Abdul
	email = 23269296+GhouI@users.noreply.github.com
[init]
	defaultBranch = main
